<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>28</integer>
		<key>image</key>
		<string>action</string>
		<key>name</key>
		<string>Action</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>12</integer>
		<key>image</key>
		<string>adventure</string>
		<key>name</key>
		<string>Adventure</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>16</integer>
		<key>image</key>
		<string>animation</string>
		<key>name</key>
		<string>Animation</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>35</integer>
		<key>image</key>
		<string>comedy</string>
		<key>name</key>
		<string>Comedy</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>80</integer>
		<key>image</key>
		<string>crime</string>
		<key>name</key>
		<string>Crime</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>99</integer>
		<key>image</key>
		<string>documentary</string>
		<key>name</key>
		<string>Documentary</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>18</integer>
		<key>image</key>
		<string>drama</string>
		<key>name</key>
		<string>Drama</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>10751</integer>
		<key>image</key>
		<string>family</string>
		<key>name</key>
		<string>Family</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>14</integer>
		<key>image</key>
		<string>fantasy</string>
		<key>name</key>
		<string>Fantasy</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>10769</integer>
		<key>image</key>
		<string>foreign</string>
		<key>name</key>
		<string>Foreign</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>36</integer>
		<key>image</key>
		<string>history</string>
		<key>name</key>
		<string>History</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>27</integer>
		<key>image</key>
		<string>horror</string>
		<key>name</key>
		<string>Horror</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>9648</integer>
		<key>image</key>
		<string>mystery</string>
		<key>name</key>
		<string>Mystery</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>10749</integer>
		<key>image</key>
		<string>romance</string>
		<key>name</key>
		<string>Romance</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>878</integer>
		<key>image</key>
		<string>sci-fi</string>
		<key>name</key>
		<string>Sci-Fi</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>53</integer>
		<key>image</key>
		<string>thriller</string>
		<key>name</key>
		<string>Thriller</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>10752</integer>
		<key>image</key>
		<string>war</string>
		<key>name</key>
		<string>War</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>37</integer>
		<key>image</key>
		<string>western</string>
		<key>name</key>
		<string>Western</string>
	</dict>
</array>
</plist>
